.contact {
  background-image: url("/assets/Untitled.png");
  background-size: cover;
  padding: 3rem 2rem;
  margin-top: 0;
  text-align: center;
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}


@keyframes gradientBackground {
  0% {
    background-position: 200% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 200% 0%;
  }
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0c0c0c;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent white */
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%); /* Start from the left */
  animation: slideInFromLeft 1s ease-out forwards; /* Animation for sliding */
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

mat-form-field {
  width: 100%;
  background-color: white;
  border-radius: 4px;
}

input,
textarea {
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.5);
}

.mat-button {
  display: block;
  margin: 1rem auto;
  padding: 0.75rem 2rem;
  background-color: #1d1d21;
  color: rgb(195, 201, 237);
  font-weight: bold;
  border-radius: 30px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-button:hover {
  background-color: #c4c9f1;
  color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 2rem;
  }

  button {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }
}
