<mat-toolbar>
    <span class="site-title"> My Portfolio </span>
    <span class="spacer"></span>
    <mat-nav-list>
        <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
        <a mat-button routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a>
        <a mat-button routerLink="/testimonials" routerLinkActive="active-link">Testimonials</a>
        <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
        
    </mat-nav-list>
  </mat-toolbar>
  
  