<div class="header">
    <img src="https://img.freepik.com/free-photo/horizontal-portrait-smiling-happy-young-pleasant-looking-female-wears-denim-shirt-stylish-glasses-with-straight-blonde-hair-expresses-positiveness-poses_176420-13176.jpg?ga=GA1.1.1251179688.1686898531&semt=ais_hybrid" alt="Profile Picture" />
    <h1>Welcome to My Portfolio</h1>
    <p>I'm a passionate developer creating amazing web experiences.</p>
    <button  mat-raised-button (click)="onClick()">About Me</button>
  </div>
  